<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616436395011-tv5js1hosgs0v7ch1377c5nfmpqp222u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616436395011-tv5js1hosgs0v7ch1377c5nfmpqp222u</string>
	<key>API_KEY</key>
	<string>AIzaSyAgIbSmGbni4WKuZcMje3EeeoRxI4FBR7I</string>
	<key>GCM_SENDER_ID</key>
	<string>616436395011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>apple.academy.EVolunteers</string>
	<key>PROJECT_ID</key>
	<string>evolunteers-24f2c</string>
	<key>STORAGE_BUCKET</key>
	<string>evolunteers-24f2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616436395011:ios:568df8ba62d137b06e3236</string>
	<key>DATABASE_URL</key>
	<string>https://evolunteers-24f2c.firebaseio.com</string>
</dict>
</plist>